body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:116px;
  width:8px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:192px;
  width:8px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:255px;
  width:8px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:0px;
  width:60px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:6px;
  top:6px;
  width:372px;
  height:796px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u9 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:568px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:157px;
  top:66px;
  width:70px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:185px;
  top:40px;
  width:14px;
  height:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:156px;
  top:704px;
  width:72px;
  height:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:44px;
  top:347px;
  width:288px;
  height:44px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19 {
  position:absolute;
  left:49px;
  top:249px;
  width:288px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u20 {
  position:absolute;
  left:49px;
  top:226px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:49px;
  top:210px;
  width:288px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u23 {
  position:absolute;
  left:46px;
  top:327px;
  width:288px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u24 {
  position:absolute;
  left:315px;
  top:223px;
  width:22px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:49px;
  top:265px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:316px;
  top:262px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:49px;
  top:306px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:316px;
  top:303px;
  width:22px;
  height:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:49px;
  top:184px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:315px;
  top:181px;
  width:22px;
  height:22px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:164px;
  top:180px;
  width:151px;
  height:24px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:46px;
  top:288px;
  width:288px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u41 {
  position:absolute;
  left:33px;
  top:124px;
  width:318px;
  height:46px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:46px;
}
#u42 {
  position:absolute;
  left:2px;
  top:15px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:144px;
  top:135px;
  width:94px;
  height:25px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:44px;
  top:137px;
  width:12px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:280px;
  top:137px;
  width:58px;
  height:17px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:14px;
  color:#2087FC;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:164px;
  top:221px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:164px;
  top:261px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:164px;
  top:301px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
