body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-10px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:142px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:42px;
  top:127px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:540px;
  width:140px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:540px;
  width:140px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:123px;
  top:147px;
  width:208px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:277px;
  width:60px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:109px;
  top:277px;
  width:90px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:198px;
  top:277px;
  width:120px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:420px;
  top:242px;
  width:120px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:170px;
  top:490px;
  width:170px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:154px;
  top:198px;
  width:107px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:41px;
  top:198px;
  width:100px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:271px;
  top:198px;
  width:69px;
  height:30px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:111px;
  top:237px;
  width:150px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:271px;
  top:242px;
  width:69px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
