body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:108px;
  top:196px;
  width:215px;
  height:37px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:270px;
  width:260px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:410px;
  width:260px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:460px;
  top:270px;
  width:230px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:226px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:340px;
  width:260px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:460px;
  top:350px;
  width:230px;
  height:150px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:150px;
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
