body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:16px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:168px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:153px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:162px;
  top:179px;
  width:107px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:224px;
  width:103px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:61px;
  top:224px;
  width:99px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:61px;
  top:263px;
  width:299px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:62px;
  top:176px;
  width:58px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:263px;
  top:224px;
  width:97px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:61px;
  top:303px;
  width:299px;
  height:277px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:277px;
}
#u19 {
  position:absolute;
  left:2px;
  top:66px;
  width:295px;
  word-wrap:break-word;
}
