body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:390px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:138px;
  top:193px;
  width:164px;
  height:37px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:240px;
  width:310px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:306px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:95px;
  top:330px;
  width:260px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:430px;
  top:330px;
  width:250px;
  height:40px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:430px;
  top:250px;
  width:250px;
  height:40px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
