body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:26px;
  width:380px;
  height:664px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:178px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:126px;
  top:178px;
  width:168px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:260px;
  top:240px;
  width:90px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:240px;
  width:170px;
  height:30px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:176px;
  top:290px;
  width:80px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:116px;
  top:324px;
  width:224px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
