body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:80px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:202px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:58px;
  top:720px;
  width:102px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:159px;
  top:720px;
  width:110px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:268px;
  top:720px;
  width:97px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:55px;
  top:222px;
  width:108px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:162px;
  top:222px;
  width:99px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:260px;
  top:222px;
  width:108px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:72px;
  top:267px;
  width:259px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:255px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:520px;
  top:400px;
  width:200px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:72px;
  top:329px;
  width:259px;
  height:91px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:91px;
}
#u21 {
  position:absolute;
  left:2px;
  top:38px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
