body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../求购信息详细页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:280px;
    top:11px;
    width:383px;
    height:729px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:383px;
    height:729px;
}

.u1 {
    position:absolute;
    left:2px;
    top:356px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../求购信息详细页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:313px;
    top:154px;
    width:319px;
    height:464px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:470px;
}

.u3 {
    position:absolute;
    left:2px;
    top:224px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../求购信息详细页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:313px;
    top:154px;
    width:319px;
    height:35px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:41px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:316px;
    top:160px;
    width:305px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../求购信息详细页_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:313px;
    top:189px;
    width:319px;
    height:56px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:62px;
}

.u8 {
    position:absolute;
    left:2px;
    top:20px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:320px;
    top:196px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:320px;
    top:222px;
    width:301px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:600px;
    top:320px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:316px;
    top:248px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

