body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-550px;
  top:-320px;
  width:2000px;
  height:1333px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1333px;
}
#u1 {
  position:absolute;
  left:2px;
  top:658px;
  width:1996px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:294px;
  top:92px;
  width:369px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:51px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:436px;
  top:107px;
  width:124px;
  height:22px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:296px;
  top:144px;
  width:369px;
  height:578px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:578px;
}
#u7 {
  position:absolute;
  left:2px;
  top:281px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:309px;
  top:102px;
  width:65px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:329px;
  top:110px;
  width:38px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:325px;
  top:191px;
  width:88px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:403px;
  top:191px;
  width:79px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:489px;
  top:191px;
  width:83px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:568px;
  top:191px;
  width:82px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:644px;
  top:225px;
  width:20px;
  height:19px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:309px;
  top:228px;
  width:328px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
