body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:16px;
  width:180px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:92px;
  top:99px;
  width:100px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:191px;
  top:99px;
  width:160px;
  height:45px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:491px;
  top:99px;
  width:152px;
  height:45px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:92px;
  top:143px;
  width:100px;
  height:91px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:91px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:191px;
  top:143px;
  width:160px;
  height:91px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:91px;
}
#u11 {
  position:absolute;
  left:2px;
  top:38px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:491px;
  top:143px;
  width:152px;
  height:91px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:91px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:148px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:642px;
  top:143px;
  width:131px;
  height:91px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:91px;
}
#u15 {
  position:absolute;
  left:2px;
  top:38px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:642px;
  top:99px;
  width:131px;
  height:45px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:663px;
  top:177px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:30px;
  top:143px;
  width:63px;
  height:91px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:91px;
}
#u20 {
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:30px;
  top:99px;
  width:63px;
  height:45px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:59px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:350px;
  top:99px;
  width:54px;
  height:45px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:350px;
  top:143px;
  width:54px;
  height:91px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:91px;
}
#u26 {
  position:absolute;
  left:2px;
  top:30px;
  width:50px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:403px;
  top:99px;
  width:89px;
  height:135px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:135px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:200px;
  top:64px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:340px;
  top:64px;
  width:100px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:240px;
  top:16px;
  width:240px;
  height:38px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:38px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:236px;
  word-wrap:break-word;
}
