body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:16px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:61px;
  top:168px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:72px;
  top:153px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:72px;
  top:224px;
  width:217px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:70px;
  top:259px;
  width:300px;
  height:117px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:117px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:546px;
  width:140px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:230px;
  top:546px;
  width:140px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:162px;
  top:173px;
  width:108px;
  height:37px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:291px;
  top:186px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:72px;
  top:396px;
  width:140px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:150px;
  top:354px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:230px;
  top:476px;
  width:140px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:72px;
  top:183px;
  width:41px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24_input {
  font-family:'Applied Font';
}
#u25 {
  position:absolute;
  left:230px;
  top:396px;
  width:140px;
  height:60px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:70px;
  top:476px;
  width:140px;
  height:60px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
