body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:164px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:149px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:143px;
  top:169px;
  width:208px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:71px;
  top:264px;
  width:284px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:71px;
  top:220px;
  width:154px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:255px;
  top:225px;
  width:97px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12_input {
  font-family:'Applied Font';
}
#u13 {
  position:absolute;
  left:71px;
  top:314px;
  width:224px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:295px;
  top:309px;
  width:60px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15_input {
  font-family:'Applied Font';
}
#u16 {
  position:absolute;
  left:71px;
  top:344px;
  width:284px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:62px;
  top:172px;
  width:58px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
