body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:26px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:178px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:51px;
  top:181px;
  width:71px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:152px;
  top:182px;
  width:148px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:62px;
  top:271px;
  width:298px;
  height:59px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:59px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:62px;
  top:340px;
  width:298px;
  height:91px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:91px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:294px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:62px;
  top:450px;
  width:298px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  word-wrap:break-word;
}
