body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:90px;
  width:200px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
