body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:106px;
  width:570px;
  height:144px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:144px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  word-wrap:break-word;
}
