body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:116px;
  width:8px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:192px;
  width:8px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:255px;
  width:8px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:0px;
  width:60px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:6px;
  top:6px;
  width:372px;
  height:796px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u9 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:568px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:157px;
  top:66px;
  width:70px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:185px;
  top:40px;
  width:14px;
  height:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:156px;
  top:704px;
  width:72px;
  height:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:272px;
  top:173px;
  width:64px;
  height:65px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:38px;
  top:128px;
  width:308px;
  height:13px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:50px;
  top:255px;
  width:64px;
  height:65px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:272px;
  top:340px;
  width:64px;
  height:65px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u25 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:272px;
  top:255px;
  width:64px;
  height:65px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:50px;
  top:340px;
  width:64px;
  height:65px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u29 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:50px;
  top:173px;
  width:64px;
  height:65px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u31 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:197px;
  top:256px;
  width:65px;
  height:64px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:124px;
  top:255px;
  width:65px;
  height:66px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:66px;
}
#u35 {
  position:absolute;
  left:2px;
  top:25px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:198px;
  top:173px;
  width:64px;
  height:65px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u37 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:124px;
  top:173px;
  width:64px;
  height:65px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u39 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:50px;
  top:420px;
  width:64px;
  height:65px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u41 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:50px;
  top:505px;
  width:64px;
  height:65px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u43 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:272px;
  top:505px;
  width:64px;
  height:65px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u45 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:272px;
  top:420px;
  width:64px;
  height:65px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u47 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:198px;
  top:505px;
  width:64px;
  height:65px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u49 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:124px;
  top:505px;
  width:64px;
  height:65px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u51 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:197px;
  top:340px;
  width:65px;
  height:66px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:66px;
}
#u53 {
  position:absolute;
  left:2px;
  top:25px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:124px;
  top:420px;
  width:65px;
  height:66px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:66px;
}
#u55 {
  position:absolute;
  left:2px;
  top:25px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:122px;
  top:341px;
  width:65px;
  height:64px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u57 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:199px;
  top:420px;
  width:65px;
  height:64px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u59 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:32px;
  top:580px;
  width:320px;
  height:108px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:108px;
}
#u61 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:50px;
  top:594px;
  width:66px;
  height:63px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:63px;
}
#u63 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:274px;
  top:594px;
  width:64px;
  height:63px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
}
#u65 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:126px;
  top:594px;
  width:66px;
  height:63px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:63px;
}
#u67 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:200px;
  top:594px;
  width:64px;
  height:63px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
}
#u69 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:67px;
  top:658px;
  width:27px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:146px;
  top:657px;
  width:27px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:216px;
  top:657px;
  width:27px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:292px;
  top:657px;
  width:27px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:50px;
  top:160px;
  width:286px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
