body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:20px;
  width:674px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:670px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:265px;
  top:178px;
  width:190px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:159px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:300px;
  top:182px;
  width:177px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:176px;
  width:50px;
  height:40px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:90px;
  top:252px;
  width:540px;
  height:138px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:138px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:416px;
  width:540px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:44px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
