body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:26px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:178px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:270px;
  width:271px;
  height:30px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:51px;
  top:181px;
  width:71px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:132px;
  top:182px;
  width:168px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:540px;
  width:80px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:79px;
  top:300px;
  width:271px;
  height:30px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:330px;
  width:271px;
  height:30px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:80px;
  top:360px;
  width:271px;
  height:30px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:420px;
  width:271px;
  height:30px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:419px;
  top:383px;
  width:331px;
  height:37px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:37px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:80px;
  top:450px;
  width:271px;
  height:30px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:80px;
  top:480px;
  width:271px;
  height:30px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:230px;
  width:271px;
  height:30px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:176px;
  top:540px;
  width:80px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:271px;
  top:540px;
  width:80px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:419px;
  top:540px;
  width:331px;
  height:37px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:37px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
