body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:185px;
  top:235px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:216px;
  top:387px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:227px;
  top:372px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:225px;
  top:785px;
  width:140px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:385px;
  top:785px;
  width:140px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:308px;
  top:392px;
  width:208px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:236px;
  top:487px;
  width:60px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:605px;
  top:487px;
  width:120px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:355px;
  top:735px;
  width:170px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:257px;
  top:443px;
  width:153px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:420px;
  top:448px;
  width:97px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:236px;
  top:537px;
  width:224px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:420px;
  top:532px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:236px;
  top:599px;
  width:224px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
