body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:30px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:36px;
  top:150px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:173px;
  width:200px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:61px;
  top:250px;
  width:269px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:265px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:69px;
  top:312px;
  width:211px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:61px;
  top:350px;
  width:269px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:265px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:300px;
  top:365px;
  width:22px;
  height:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:69px;
  top:422px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:80px;
  top:480px;
  width:220px;
  height:40px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:90px;
  top:487px;
  width:20px;
  height:26px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u18 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:50px;
  top:186px;
  width:22px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:290px;
  top:495px;
  width:120px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u22 {
  position:absolute;
  left:410px;
  top:300px;
  width:400px;
  height:260px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:260px;
}
#u23 {
  position:absolute;
  left:2px;
  top:82px;
  width:396px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:310px;
  top:445px;
  width:100px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
