body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:26px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:178px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:122px;
  top:182px;
  width:168px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:86px;
  top:250px;
  width:134px;
  height:50px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:171px;
  top:450px;
  width:70px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:86px;
  top:320px;
  width:260px;
  height:80px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:220px;
  top:250px;
  width:126px;
  height:50px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:122px;
  word-wrap:break-word;
}
