body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:77px;
  width:200px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:249px;
  width:200px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:250px;
  top:150px;
  width:200px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:250px;
  top:249px;
  width:200px;
  height:51px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:250px;
  top:299px;
  width:200px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:250px;
  top:348px;
  width:200px;
  height:42px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:250px;
  top:389px;
  width:200px;
  height:41px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:389px;
  width:200px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:439px;
  width:200px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:479px;
  width:200px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:500px;
  top:150px;
  width:200px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
