body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:55px;
  top:36px;
  width:220px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:216px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:241px;
  top:114px;
  width:140px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:67px;
  top:114px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:241px;
  top:143px;
  width:140px;
  height:91px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:91px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:380px;
  top:114px;
  width:200px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:67px;
  top:143px;
  width:101px;
  height:91px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:91px;
}
#u11 {
  position:absolute;
  left:2px;
  top:38px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:380px;
  top:143px;
  width:200px;
  height:91px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:91px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:55px;
  top:76px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14_input {
  font-family:'Applied Font';
}
#u15 {
  position:absolute;
  left:175px;
  top:76px;
  width:100px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15_input {
  font-family:'Applied Font';
}
#u16 {
  position:absolute;
  left:291px;
  top:76px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:291px;
  top:36px;
  width:293px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:544px;
  top:76px;
  width:200px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19_input {
  font-family:'Applied Font';
}
#u20 {
  position:absolute;
  left:506px;
  top:53px;
  width:25px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:579px;
  top:143px;
  width:148px;
  height:91px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:91px;
}
#u23 {
  position:absolute;
  left:2px;
  top:38px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:579px;
  top:114px;
  width:148px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:594px;
  top:38px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26_input {
  font-family:'Applied Font';
}
#u27 {
  position:absolute;
  left:418px;
  top:76px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27_input {
  font-family:'Applied Font';
}
#u28 {
  position:absolute;
  left:603px;
  top:175px;
  width:100px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u28_input {
  font-family:'Applied Font';
}
#u29 {
  position:absolute;
  left:760px;
  top:76px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29_input {
  font-family:'Applied Font';
}
#u30 {
  position:absolute;
  left:57px;
  top:331px;
  width:156px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:541px;
  top:331px;
  width:200px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:166px;
  top:114px;
  width:76px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:166px;
  top:143px;
  width:76px;
  height:91px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:91px;
}
#u37 {
  position:absolute;
  left:2px;
  top:38px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:780px;
  top:143px;
  width:200px;
  height:100px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u39 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
