body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:194px;
  width:177px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:86px;
  top:260px;
  width:260px;
  height:40px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:198px;
  width:30px;
  height:29px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:377px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:86px;
  top:320px;
  width:180px;
  height:30px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:280px;
  top:320px;
  width:70px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:430px;
  top:260px;
  width:250px;
  height:40px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:430px;
  top:320px;
  width:250px;
  height:100px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:430px;
  top:430px;
  width:250px;
  height:80px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:430px;
  top:530px;
  width:250px;
  height:90px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:90px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:246px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:520px;
  top:580px;
  width:70px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
