body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1160px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1160px;
}
#u1 {
  position:absolute;
  left:2px;
  top:572px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:1136px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u3 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:20px;
  width:640px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:23px;
  top:70px;
  width:45px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:217px;
  top:72px;
  width:193px;
  height:57px;
  font-size:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:23px;
  top:140px;
  width:607px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:590px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:607px;
  height:1px;
}
#u11 {
  position:absolute;
  left:50px;
  top:185px;
  width:240px;
  height:60px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background-image:;
  background-color:#0066FF;
  text-align:center;
  font-family:'Arial';
  font-size:36px;
  color:#FFFFFF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:50px;
  top:255px;
  width:170px;
  height:60px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background-image:;
  background-color:#0066FF;
  text-align:left;
  font-family:'Arial';
  font-size:36px;
  color:#FFFFFF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:290px;
  top:185px;
  width:250px;
  height:60px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:290px;
  top:185px;
  width:250px;
  height:60px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:4px;
  top:20px;
  width:300px;
  height:16px;
  font-size:20px;
  color:#CCCCCC;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:290px;
  top:255px;
  width:310px;
  height:60px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:4px;
  top:20px;
  width:300px;
  height:16px;
  font-size:20px;
  color:#CCCCCC;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u23_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:50px;
  top:510px;
  width:550px;
  height:375px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:375px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:36px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:50px;
  top:395px;
  width:100px;
  height:60px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background-image:;
  background-color:#0066FF;
  text-align:center;
  font-family:'Arial';
  font-size:36px;
  color:#FFFFFF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:150px;
  top:395px;
  width:450px;
  height:60px;
  overflow:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:4px;
  top:20px;
  width:300px;
  height:16px;
  font-size:20px;
  color:#CCCCCC;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u32_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:22px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:68px;
  top:590px;
  width:490px;
  height:66px;
  font-size:28px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:66px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:220px;
  top:255px;
  width:70px;
  height:60px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
  background-image:;
  background-color:#0066FF;
  text-align:center;
  font-family:'Arial';
  font-size:36px;
  color:#FFFFFF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42 {
  position:absolute;
  left:68px;
  top:786px;
  width:490px;
  height:99px;
  font-size:28px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:99px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:50px;
  top:465px;
  width:420px;
  height:30px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:30px;
  background-image:;
  background-color:#CCCCCC;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#FFFFFF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45 {
  position:absolute;
  left:470px;
  top:465px;
  width:130px;
  height:30px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background-image:;
  background-color:#0066FF;
  text-align:center;
  font-family:'Arial';
  font-size:20px;
  color:#FFFFFF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:68px;
  top:677px;
  width:490px;
  height:99px;
  font-size:28px;
  color:#000000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:99px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:50px;
  top:910px;
  width:550px;
  height:17px;
  font-size:15px;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:50px;
  top:960px;
  width:550px;
  height:60px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:36px;
  color:#0000CC;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u51 {
  position:absolute;
  left:50px;
  top:325px;
  width:170px;
  height:60px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background-image:;
  background-color:#0066FF;
  text-align:left;
  font-family:'Arial';
  font-size:36px;
  color:#FFFFFF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52 {
  position:absolute;
  left:220px;
  top:325px;
  width:70px;
  height:60px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
  background-image:;
  background-color:#0066FF;
  text-align:center;
  font-family:'Arial';
  font-size:36px;
  color:#FFFFFF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53 {
  position:absolute;
  left:290px;
  top:325px;
  width:310px;
  height:60px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54 {
  position:absolute;
  left:550px;
  top:193px;
  width:44px;
  height:44px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u55 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:12px;
  width:650px;
  height:1136px;
  overflow:hidden;
}
#u56_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:1136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:1136px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u56_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:1140px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:1140px;
}
#u58 {
  position:absolute;
  left:2px;
  top:562px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:40px;
  top:130px;
  width:570px;
  height:370px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:370px;
}
#u60 {
  position:absolute;
  left:2px;
  top:177px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:58px;
  top:210px;
  width:505px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:28px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:72px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:58px;
  top:414px;
  width:232px;
  height:55px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:55px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:28px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u64 {
  position:absolute;
  left:350px;
  top:414px;
  width:241px;
  height:55px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:55px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:28px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:1136px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u56_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
