body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:141px;
  top:193px;
  width:150px;
  height:37px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:400px;
  width:300px;
  height:130px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:540px;
  width:300px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:430px;
  top:250px;
  width:260px;
  height:29px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:250px;
  width:300px;
  height:29px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:289px;
  width:300px;
  height:52px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:430px;
  top:310px;
  width:260px;
  height:70px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:11px;
  width:256px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:70px;
  top:351px;
  width:140px;
  height:29px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:230px;
  top:351px;
  width:140px;
  height:29px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
