body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-550px;
  top:-320px;
  width:2000px;
  height:1333px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1333px;
}
#u1 {
  position:absolute;
  left:2px;
  top:658px;
  width:1996px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:294px;
  top:92px;
  width:369px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:51px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:436px;
  top:107px;
  width:124px;
  height:22px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:296px;
  top:144px;
  width:369px;
  height:578px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:578px;
}
#u7 {
  position:absolute;
  left:2px;
  top:281px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:310px;
  top:179px;
  width:337px;
  height:493px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:494px;
}
#u9 {
  position:absolute;
  left:2px;
  top:238px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:340px;
  top:199px;
  width:259px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:340px;
  top:218px;
  width:291px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u13 {
  position:absolute;
  left:340px;
  top:235px;
  width:259px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:340px;
  top:277px;
  width:259px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:340px;
  top:317px;
  width:259px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:340px;
  top:256px;
  width:291px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u20 {
  position:absolute;
  left:340px;
  top:300px;
  width:291px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u21 {
  position:absolute;
  left:340px;
  top:341px;
  width:291px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u22 {
  position:absolute;
  left:340px;
  top:419px;
  width:150px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:331px;
  top:445px;
  width:295px;
  height:56px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
}
#u25 {
  position:absolute;
  left:2px;
  top:20px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:340px;
  top:459px;
  width:150px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:394px;
  top:483px;
  width:150px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:586px;
  top:465px;
  width:30px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:331px;
  top:501px;
  width:295px;
  height:56px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:340px;
  top:523px;
  width:150px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:586px;
  top:520px;
  width:30px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:332px;
  top:558px;
  width:295px;
  height:56px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
}
#u39 {
  position:absolute;
  left:2px;
  top:20px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:340px;
  top:578px;
  width:150px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:586px;
  top:576px;
  width:30px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:340px;
  top:357px;
  width:150px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:344px;
  top:377px;
  width:287px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:287px;
  height:1px;
}
