body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:116px;
  width:8px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:192px;
  width:8px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:255px;
  width:8px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:0px;
  width:60px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:6px;
  top:6px;
  width:372px;
  height:796px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u9 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:568px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:157px;
  top:66px;
  width:70px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:185px;
  top:40px;
  width:14px;
  height:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:156px;
  top:704px;
  width:72px;
  height:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:500px;
  top:860px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:33px;
  top:140px;
  width:318px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:40px;
  top:159px;
  width:22px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:152px;
  top:157px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:68px;
  top:204px;
  width:247px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:60px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:42px;
  top:259px;
  width:300px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u29 {
  position:absolute;
  left:42px;
  top:579px;
  width:300px;
  height:40px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30 {
  position:absolute;
  left:222px;
  top:629px;
  width:120px;
  height:40px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:42px;
  top:269px;
  width:300px;
  height:310px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:310px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:8px;
  top:0px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:8px;
  top:41px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:207px;
  top:41px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:257px;
  top:21px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:60px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:8px;
  top:60px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:233px;
  top:60px;
  width:55px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:8px;
  top:101px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:207px;
  top:101px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:257px;
  top:81px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:0px;
  top:120px;
  width:300px;
  height:60px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:8px;
  top:120px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:8px;
  top:161px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:207px;
  top:161px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:257px;
  top:141px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:0px;
  top:180px;
  width:300px;
  height:60px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:8px;
  top:180px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:8px;
  top:221px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:207px;
  top:221px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:257px;
  top:201px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:229px;
  top:182px;
  width:55px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:0px;
  top:240px;
  width:300px;
  height:60px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u77 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:243px;
  top:248px;
  width:45px;
  height:45px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u79 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:229px;
  top:122px;
  width:55px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:233px;
  top:0px;
  width:55px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u31_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:310px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:11px;
  top:99px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:95px;
  top:96px;
  width:200px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u87 {
  position:absolute;
  left:11px;
  top:134px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:95px;
  top:131px;
  width:200px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u90 {
  position:absolute;
  left:11px;
  top:202px;
  width:132px;
  height:30px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:18px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u91 {
  position:absolute;
  left:11px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:95px;
  top:64px;
  width:200px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u94 {
  position:absolute;
  left:11px;
  top:169px;
  width:72px;
  height:22px;
  font-size:18px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:95px;
  top:164px;
  width:200px;
  height:27px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u97 {
  position:absolute;
  left:11px;
  top:15px;
  width:79px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:9px;
  top:39px;
  width:53px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:119px;
  top:15px;
  width:28px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:163px;
  top:202px;
  width:132px;
  height:30px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:18px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u104 {
  position:absolute;
  left:119px;
  top:38px;
  width:92px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u31_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:310px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106 {
  position:absolute;
  left:11px;
  top:99px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:95px;
  top:96px;
  width:200px;
  height:25px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u109 {
  position:absolute;
  left:11px;
  top:134px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:95px;
  top:131px;
  width:200px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u112 {
  position:absolute;
  left:11px;
  top:202px;
  width:132px;
  height:30px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:18px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u113 {
  position:absolute;
  left:11px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:95px;
  top:64px;
  width:200px;
  height:25px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u116 {
  position:absolute;
  left:11px;
  top:169px;
  width:72px;
  height:22px;
  font-size:18px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:95px;
  top:164px;
  width:200px;
  height:27px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u119 {
  position:absolute;
  left:11px;
  top:15px;
  width:79px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:9px;
  top:39px;
  width:53px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:119px;
  top:15px;
  width:28px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:163px;
  top:202px;
  width:132px;
  height:30px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:18px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u126 {
  position:absolute;
  left:119px;
  top:38px;
  width:92px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:52px;
  top:350px;
  width:280px;
  height:85px;
  overflow:hidden;
}
#u128_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u128_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:85px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u128_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u129 {
  position:absolute;
  left:0px;
  top:1px;
  width:280px;
  height:87px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:87px;
}
#u130 {
  position:absolute;
  left:2px;
  top:36px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:12px;
  top:14px;
  width:256px;
  height:60px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:60px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:42px;
  top:629px;
  width:170px;
  height:40px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#CCCCCC;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
