body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-550px;
  top:-320px;
  width:2000px;
  height:1333px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1333px;
}
#u1 {
  position:absolute;
  left:2px;
  top:658px;
  width:1996px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:294px;
  top:92px;
  width:369px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:51px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:436px;
  top:107px;
  width:124px;
  height:22px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:296px;
  top:144px;
  width:369px;
  height:578px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:578px;
}
#u7 {
  position:absolute;
  left:2px;
  top:281px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:309px;
  top:102px;
  width:65px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:330px;
  top:110px;
  width:44px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:309px;
  top:162px;
  width:329px;
  height:56px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:57px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:330px;
  top:182px;
  width:150px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:309px;
  top:254px;
  width:329px;
  height:335px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:335px;
}
#u17 {
  position:absolute;
  left:2px;
  top:160px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:380px;
  top:354px;
  width:250px;
  height:26px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:27px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:386px;
  top:359px;
  width:150px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
