body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:116px;
  width:8px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:192px;
  width:8px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:255px;
  width:8px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:0px;
  width:60px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:6px;
  top:6px;
  width:372px;
  height:796px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u9 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:568px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:157px;
  top:66px;
  width:70px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:185px;
  top:40px;
  width:14px;
  height:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:156px;
  top:704px;
  width:72px;
  height:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:33px;
  top:121px;
  width:318px;
  height:46px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:46px;
}
#u19 {
  position:absolute;
  left:2px;
  top:15px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:134px;
  width:180px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:44px;
  top:134px;
  width:12px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:181px;
  width:290px;
  height:73px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:73px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:50px;
  top:688px;
  width:280px;
  height:9px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:9px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:50px;
  top:270px;
  width:272px;
  height:26px;
  font-size:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:26px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:50px;
  top:306px;
  width:266px;
  height:26px;
  font-size:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:26px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:50px;
  top:342px;
  width:293px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:276px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:293px;
  height:1px;
}
#u33 {
  position:absolute;
  left:50px;
  top:377px;
  width:293px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:276px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:293px;
  height:1px;
}
#u34 {
  position:absolute;
  left:110px;
  top:353px;
  width:181px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#CCCCCC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:64px;
  top:353px;
  width:20px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:304px;
  top:352px;
  width:20px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:50px;
  top:342px;
  width:289px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:50px;
  top:342px;
  width:289px;
  height:336px;
  overflow:hidden;
  visibility:hidden;
}
#u41_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:336px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:336px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  height:130px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u43 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:150px;
  top:10px;
  width:130px;
  height:130px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u45 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:10px;
  top:150px;
  width:130px;
  height:130px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u47 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:150px;
  top:150px;
  width:130px;
  height:130px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u49 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
