body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:105px;
  top:186px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:135px;
  top:338px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:146px;
  top:323px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:209px;
  top:343px;
  width:208px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:205px;
  top:545px;
  width:185px;
  height:54px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:54px;
}
#u9 {
  position:absolute;
  left:2px;
  top:19px;
  width:181px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:203px;
  top:624px;
  width:187px;
  height:56px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:56px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:183px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:151px;
  top:394px;
  width:139px;
  height:75px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:75px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:310px;
  top:394px;
  width:125px;
  height:75px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
