body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:774px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:94px;
  top:208px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:329px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:132px;
  top:847px;
  width:92px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:239px;
  top:847px;
  width:90px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:344px;
  top:847px;
  width:90px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:129px;
  top:349px;
  width:108px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:236px;
  top:349px;
  width:99px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:334px;
  top:349px;
  width:108px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:574px;
  top:394px;
  width:200px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:146px;
  top:420px;
  width:284px;
  height:90px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:37px;
  width:280px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:146px;
  top:749px;
  width:284px;
  height:70px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:27px;
  width:280px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:736px;
  width:100px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:147px;
  top:626px;
  width:283px;
  height:33px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:33px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:279px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:146px;
  top:689px;
  width:124px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:306px;
  top:689px;
  width:124px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:260px;
  top:740px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:164px;
  top:399px;
  width:110px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:147px;
  top:579px;
  width:283px;
  height:31px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:31px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:279px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:347px;
  top:399px;
  width:66px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  word-wrap:break-word;
}
