body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:26px;
  width:380px;
  height:704px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:704px;
}
#u1 {
  position:absolute;
  left:2px;
  top:344px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:178px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:182px;
  width:168px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:165px;
  top:550px;
  width:90px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:280px;
  width:260px;
  height:230px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:230px;
}
#u11 {
  position:absolute;
  left:2px;
  top:35px;
  width:256px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:240px;
  width:260px;
  height:30px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
