body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:26px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:178px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:234px;
  width:290px;
  height:186px;
  font-size:16px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:186px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:182px;
  width:168px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:165px;
  top:570px;
  width:90px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:454px;
  width:290px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:70px;
  top:484px;
  width:290px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:115px;
  top:520px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16_input {
  font-family:'Applied Font';
}
