body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:80px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:202px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:233px;
  width:270px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:280px;
  width:270px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:80px;
  top:390px;
  width:270px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:81px;
  top:446px;
  width:159px;
  height:75px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:75px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:250px;
  top:446px;
  width:100px;
  height:75px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:75px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:50px;
  top:546px;
  width:320px;
  height:216px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u13 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
