body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1160px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1160px;
}
#u1 {
  position:absolute;
  left:2px;
  top:572px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:1136px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u3 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:20px;
  width:640px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:23px;
  top:70px;
  width:45px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:138px;
  top:70px;
  width:385px;
  height:57px;
  font-size:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:57px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:23px;
  top:140px;
  width:607px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:590px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:607px;
  height:1px;
}
#u11 {
  position:absolute;
  left:1138px;
  top:219px;
  width:188px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:430px;
  top:153px;
  width:85px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:28px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:27px;
  top:360px;
  width:607px;
  height:60px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:28px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:40px;
  top:173px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:60px;
  top:160px;
  width:570px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:233px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:60px;
  top:220px;
  width:570px;
  height:40px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:566px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:40px;
  top:293px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:60px;
  top:280px;
  width:570px;
  height:40px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:566px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:590px;
  top:167px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:590px;
  top:227px;
  width:22px;
  height:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:590px;
  top:289px;
  width:22px;
  height:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:88px;
  top:173px;
  width:47px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:36px;
  top:430px;
  width:551px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  white-space:nowrap;
}
