body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:80px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:202px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:80px;
  top:233px;
  width:270px;
  height:77px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:77px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:83px;
  top:437px;
  width:210px;
  height:16px;
}
#u7 {
  position:absolute;
  left:16px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u6_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  position:absolute;
  left:220px;
  top:463px;
  width:130px;
  height:47px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:47px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:53px;
  top:545px;
  width:320px;
  height:216px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u10 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:80px;
  top:326px;
  width:270px;
  height:44px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:379px;
  width:270px;
  height:44px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:450px;
  top:363px;
  width:270px;
  height:179px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
}
#u16 {
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:499px;
  top:393px;
  width:182px;
  height:29px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:24px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:29px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:467px;
  top:440px;
  width:243px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:20px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:636px;
  top:509px;
  width:39px;
  height:24px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-size:20px;
  color:#2087FC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:488px;
  top:509px;
  width:78px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-size:20px;
  color:#2087FC;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:83px;
  top:463px;
  width:117px;
  height:47px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:47px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:481px;
  top:128px;
  width:200px;
  height:62px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u27 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:481px;
  top:211px;
  width:200px;
  height:49px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:49px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
