body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:60px;
  width:200px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:100px;
  width:200px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:300px;
  top:68px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_input {
  font-family:'Applied Font';
}
