body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:116px;
  width:8px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:192px;
  width:8px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:255px;
  width:8px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:0px;
  width:60px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:6px;
  top:6px;
  width:372px;
  height:796px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u9 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:568px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:157px;
  top:66px;
  width:70px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:185px;
  top:40px;
  width:14px;
  height:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:156px;
  top:704px;
  width:72px;
  height:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:33px;
  top:120px;
  width:318px;
  height:568px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:568px;
}
#u19 {
  position:absolute;
  left:2px;
  top:276px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:38px;
  top:128px;
  width:308px;
  height:13px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:58px;
  top:178px;
  width:22px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:69px;
  top:230px;
  width:70px;
  height:70px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u25 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:149px;
  top:230px;
  width:84px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:268px;
  top:230px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:268px;
  top:246px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:149px;
  top:246px;
  width:61px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:69px;
  top:320px;
  width:70px;
  height:70px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u35 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:149px;
  top:320px;
  width:84px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:268px;
  top:320px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:268px;
  top:336px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:149px;
  top:336px;
  width:61px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:149px;
  top:262px;
  width:41px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:149px;
  top:352px;
  width:41px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:268px;
  top:262px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:268px;
  top:352px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:69px;
  top:410px;
  width:70px;
  height:70px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u53 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:149px;
  top:410px;
  width:84px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:268px;
  top:410px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:268px;
  top:426px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:149px;
  top:426px;
  width:61px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:149px;
  top:442px;
  width:41px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:268px;
  top:442px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:69px;
  top:500px;
  width:70px;
  height:70px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u67 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:149px;
  top:500px;
  width:84px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:268px;
  top:500px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:268px;
  top:516px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:149px;
  top:516px;
  width:61px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:149px;
  top:532px;
  width:41px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:268px;
  top:532px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:120px;
  top:190px;
  width:150px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:133px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u81 {
  position:absolute;
  left:157px;
  top:163px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:69px;
  top:590px;
  width:70px;
  height:70px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u84 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:149px;
  top:590px;
  width:84px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:268px;
  top:590px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:268px;
  top:606px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:149px;
  top:606px;
  width:61px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:149px;
  top:622px;
  width:41px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:268px;
  top:622px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:239px;
  top:300px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#000000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:149px;
  top:278px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:149px;
  top:368px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:149px;
  top:458px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:149px;
  top:548px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:149px;
  top:638px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:270px;
  top:299px;
  width:31px;
  height:16px;
  font-size:10px;
  color:#000000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:69px;
  top:226px;
  width:230px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  position:absolute;
  left:52px;
  top:210px;
  width:168px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:52px;
  top:300px;
  width:168px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:52px;
  top:394px;
  width:168px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:239px;
  top:210px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#000000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:239px;
  top:395px;
  width:21px;
  height:18px;
  font-size:10px;
  color:#000000;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:270px;
  top:394px;
  width:31px;
  height:16px;
  font-size:10px;
  color:#000000;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:239px;
  top:480px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#000000;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:52px;
  top:480px;
  width:168px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:239px;
  top:574px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#000000;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:52px;
  top:574px;
  width:168px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:52px;
  top:438px;
  width:278px;
  height:100px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:100px;
}
#u133 {
  position:absolute;
  left:2px;
  top:16px;
  width:274px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:70px;
  top:507px;
  width:100px;
  height:25px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u135 {
  position:absolute;
  left:213px;
  top:507px;
  width:100px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
