body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1160px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1160px;
}
#u1 {
  position:absolute;
  left:2px;
  top:572px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:1136px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u3 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:12px;
  width:640px;
  height:1136px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u5 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:470px;
  top:910px;
  width:130px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:480px;
  top:910px;
  width:130px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:490px;
  top:907px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:480px;
  top:790px;
  width:130px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
