body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:63px;
  top:137px;
  width:320px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:63px;
  top:158px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:190px;
  top:168px;
  width:85px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:21px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:240px;
  width:110px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:240px;
  width:110px;
  height:90px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  word-wrap:break-word;
}
