body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:30px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:36px;
  top:150px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:173px;
  width:200px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:61px;
  top:250px;
  width:269px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:265px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:69px;
  top:312px;
  width:61px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:61px;
  top:350px;
  width:269px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:37px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:300px;
  top:358px;
  width:22px;
  height:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:130px;
  top:442px;
  width:130px;
  height:40px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:61px;
  top:397px;
  width:121px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:61px;
  top:186px;
  width:22px;
  height:22px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
