body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:80px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:202px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:91px;
  top:233px;
  width:242px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:238px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:93px;
  top:283px;
  width:163px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:91px;
  top:336px;
  width:242px;
  height:41px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:238px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:91px;
  top:383px;
  width:242px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:238px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:91px;
  top:432px;
  width:242px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:238px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:264px;
  top:292px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:220px;
  top:480px;
  width:109px;
  height:45px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:52px;
  top:544px;
  width:320px;
  height:216px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u18 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:570px;
  top:306px;
  width:200px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
