body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:26px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:178px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:250px;
  width:300px;
  height:300px;
  font-size:20px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:300px;
  top:182px;
  width:71px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:51px;
  top:181px;
  width:71px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:132px;
  top:182px;
  width:168px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:420px;
  top:184px;
  width:170px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
