body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-550px;
  top:-320px;
  width:2000px;
  height:1333px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1333px;
}
#u1 {
  position:absolute;
  left:2px;
  top:658px;
  width:1996px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:294px;
  top:92px;
  width:369px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:51px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:296px;
  top:144px;
  width:369px;
  height:578px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:578px;
}
#u5 {
  position:absolute;
  left:2px;
  top:281px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:311px;
  top:169px;
  width:305px;
  height:65px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:20px;
  width:100px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:200px;
  top:20px;
  width:100px;
  height:20px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:40px;
  width:100px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:40px;
  width:100px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:294px;
  top:92px;
  width:369px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:51px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:394px;
  top:106px;
  width:170px;
  height:22px;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:23px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
