body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:53px;
  top:137px;
  width:320px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:53px;
  top:158px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:165px;
  top:172px;
  width:115px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:21px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:64px;
  top:171px;
  width:12px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:295px;
  top:172px;
  width:67px;
  height:19px;
  font-size:16px;
  color:#2087FC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:140px;
  top:235px;
  width:200px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:243px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:80px;
  top:299px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:80px;
  top:363px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:140px;
  top:355px;
  width:200px;
  height:35px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:72px;
  top:429px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:140px;
  top:421px;
  width:200px;
  height:35px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:141px;
  top:466px;
  width:199px;
  height:59px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:59px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:483px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:80px;
  top:600px;
  width:260px;
  height:35px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:140px;
  top:291px;
  width:200px;
  height:35px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:141px;
  top:535px;
  width:199px;
  height:45px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:45px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:80px;
  top:543px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
