body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:26px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:178px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:62px;
  top:231px;
  width:97px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:300px;
  top:182px;
  width:71px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:51px;
  top:181px;
  width:71px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:152px;
  top:182px;
  width:148px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:220px;
  top:560px;
  width:140px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:62px;
  top:271px;
  width:298px;
  height:269px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:269px;
}
#u17 {
  position:absolute;
  left:2px;
  top:94px;
  width:294px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:410px;
  top:369px;
  width:340px;
  height:41px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:62px;
  top:560px;
  width:140px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:280px;
  top:228px;
  width:80px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:166px;
  top:225px;
  width:100px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
