body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../订单确认页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:280px;
    top:11px;
    width:383px;
    height:729px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:383px;
    height:729px;
}

.u1 {
    position:absolute;
    left:2px;
    top:356px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:342px;
    top:138px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:443px;
    top:139px;
    width:58px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../订单确认页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:313px;
    top:154px;
    width:319px;
    height:464px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:470px;
}

.u5 {
    position:absolute;
    left:2px;
    top:224px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../订单确认页_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:313px;
    top:154px;
    width:319px;
    height:35px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:41px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:316px;
    top:160px;
    width:305px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../订单确认页_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:313px;
    top:579px;
    width:319px;
    height:39px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:45px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:360px;
    top:590px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:550px;
    top:586px;
    width:71px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:327px;
    top:194px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:327px;
    top:213px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:328px;
    top:236px;
    width:232px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:316px;
    top:257px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:595px;
    top:229px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:308px;
    top:286px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:325px;
    top:350px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:396px;
    top:287px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:16px;
    top:0px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:308px;
    top:372px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:396px;
    top:370px;
    width:40px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_line {
    background-image: url('../订单确认页_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:321px;
    height:3px;
}

.u31 {
    position:absolute;
    left:308px;
    top:273px;
    width:321px;
    height:10px;
    
}

.u32_line {
    background-image: url('../订单确认页_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:319px;
    height:3px;
}

.u32 {
    position:absolute;
    left:313px;
    top:398px;
    width:319px;
    height:10px;
    
}

.u33 {
    position:absolute;
    left:326px;
    top:436px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:331px;
    top:482px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:331px;
    top:462px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:332px;
    top:501px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:494px;
    top:517px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../订单确认页_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:313px;
    top:401px;
    width:319px;
    height:29px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:35px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../订单确认页_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:0px;
    top:4px;
    width:318px;
    height:3px;
}

.u40 {
    position:absolute;
    left:314px;
    top:543px;
    width:318px;
    height:10px;
    
}

.u41 {
    position:absolute;
    left:332px;
    top:308px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:332px;
    top:329px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

