body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:94px;
  top:208px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:329px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:349px;
  width:250px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:208px;
  top:414px;
  width:162px;
  height:106px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:106px;
}
#u7 {
  position:absolute;
  left:2px;
  top:21px;
  width:158px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:132px;
  top:589px;
  width:310px;
  height:51px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:132px;
  top:560px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:132px;
  top:414px;
  width:68px;
  height:106px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:106px;
}
#u13 {
  position:absolute;
  left:2px;
  top:29px;
  width:64px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:380px;
  top:414px;
  width:62px;
  height:106px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:106px;
}
#u15 {
  position:absolute;
  left:2px;
  top:45px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:234px;
  top:690px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:412px;
  top:604px;
  width:22px;
  height:22px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:456px;
  width:22px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:540px;
  top:604px;
  width:200px;
  height:61px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:61px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
