body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:25px;
  top:10px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:140px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:170px;
  top:151px;
  width:95px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:21px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:58px;
  top:127px;
  width:320px;
  height:13px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:65px;
  top:150px;
  width:25px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:66px;
  top:259px;
  width:308px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:132px;
  top:268px;
  width:15px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:158px;
  top:269px;
  width:150px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:70px;
  top:323px;
  width:295px;
  height:85px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:85px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:76px;
  top:336px;
  width:136px;
  height:24px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:76px;
  top:360px;
  width:283px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:266px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:283px;
  height:1px;
}
#u21 {
  position:absolute;
  left:76px;
  top:380px;
  width:136px;
  height:24px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:398px;
  top:1061px;
  width:22px;
  height:22px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
