body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:62px;
  top:163px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:143px;
  top:194px;
  width:177px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:250px;
  width:260px;
  height:150px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:150px;
}
#u7 {
  position:absolute;
  left:2px;
  top:51px;
  width:256px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:198px;
  width:30px;
  height:29px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:250px;
  top:330px;
  width:90px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
